In [1]:
import numpy as np
import json
import pandas as pd

data = pd.read_json("./data/headline_cities_and_countries.json")
data = data.replace({None: np.nan})

data.head(10)

                                  headline countries         cities
0                 Zika Outbreak Hits Miami       NaN          Miami
1          Could Zika Reach New York City?       NaN  New York City
2        First Case of Zika in Miami Beach       NaN    Miami Beach
3  Mystery Virus Spreads in Recife, Brazil    Brazil         Recife
4  Dallas man comes down with case of Zika       NaN         Dallas
5        Trinidad confirms first Zika case       NaN       Trinidad
6   Zika Concerns are Spreading in Houston       NaN        Houston
7    Geneve Scientists Battle to Find Cure       NaN         Geneve
8    The CDC in Atlanta is Growing Worried       NaN        Atlanta
9       Zika Infested Monkeys in Sao Paulo       NaN      Sao Paulo

Logic for finding the latitude, longitude for the city

if cities[n] == Nan and countries[n] == Nan
        latitude[n] = Nan, longitude[n] = Nan
    elif cities[n] == NaN and country[n] != Nan:
        get the latitude and longitude using countries[n]
    elif count(cities[n] == 1):
        get the latitude and longitude using cities[n]
    elif:   
        arbitration(city[n]

In [2]:
data.loc[6:10, ["headline","countries"]]

                                  headline countries
6   Zika Concerns are Spreading in Houston       NaN
7    Geneve Scientists Battle to Find Cure       NaN
8    The CDC in Atlanta is Growing Worried       NaN
9       Zika Infested Monkeys in Sao Paulo       NaN
10   Brownsville teen contracts Zika virus       NaN

In [9]:
data["cities"].value_counts()

Madrid          4
Miami           4
Monroe          4
Barcelona       3
Johannesburg    2
               ..
Managua         1
Libreville      1
Dongguan        1
Houston         1
Springdale      1
Name: cities, Length: 573, dtype: int64

In [11]:
data.axes

[RangeIndex(start=0, stop=650, step=1),
 Index(['headline', 'countries', 'cities'], dtype='object')]

In [14]:
data[
    (data["_iscopy"] == 0) &
    (data["cities"] == 'Miami') 
]

KeyError: '_iscopy_'