In [92]:
import numpy as np
import json
import pandas as pd

data = pd.read_json("./data/headline_cities_and_countries.json")
data = data.replace({None: np.nan})
    
data.head(10)

                                  headline countries         cities
0                 Zika Outbreak Hits Miami       NaN          Miami
1          Could Zika Reach New York City?       NaN  New York City
2        First Case of Zika in Miami Beach       NaN    Miami Beach
3  Mystery Virus Spreads in Recife, Brazil    Brazil         Recife
4  Dallas man comes down with case of Zika       NaN         Dallas
5        Trinidad confirms first Zika case       NaN       Trinidad
6   Zika Concerns are Spreading in Houston       NaN        Houston
7    Geneve Scientists Battle to Find Cure       NaN         Geneve
8    The CDC in Atlanta is Growing Worried       NaN        Atlanta
9       Zika Infested Monkeys in Sao Paulo       NaN      Sao Paulo

In [93]:
acc_cities = [city['name'] for city in gc.get_cities().values()]

In [94]:
import unidecode

city_accent_mapping = {
    unidecode.unidecode(city): city for city in acc_cities
}

city_accent_mapping["Geneve"]

'Gen√®ve'

In [95]:
data.loc[6:10, ["headline","countries"]]

                                  headline countries
6   Zika Concerns are Spreading in Houston       NaN
7    Geneve Scientists Battle to Find Cure       NaN
8    The CDC in Atlanta is Growing Worried       NaN
9       Zika Infested Monkeys in Sao Paulo       NaN
10   Brownsville teen contracts Zika virus       NaN

In [96]:
data.describe()

                              headline countries  cities
count                              650        15     608
unique                             647        10     573
top     Spanish Flu Outbreak in Lisbon    Brazil  Madrid
freq                                 2         3       4

In [97]:
data[data.countries.notnull()].describe()

                                  headline countries       cities
count                                   15        15           15
unique                                  15        10           14
top     Zika reaches Johor Bahru, Malaysia    Brazil  Panama City
freq                                     1         3            2

In [98]:
data[data.cities.notnull()].describe()

                              headline countries  cities
count                              608        15     608
unique                             605        10     573
top     Spanish Flu Outbreak in Lisbon  Malaysia  Monroe
freq                                 2         3       4

In [99]:
data.loc[data["cities"] == "Monroe", "headline"]

355    Lower Hospitalization in Monroe after Hepatiti...
458               Spike of Syphilis Cases in West Monroe
542                          West Nile Virus Hits Monroe
607    The Spread of Respiratory Syncytial Virus in M...
Name: headline, dtype: object

In [100]:
import geonamescache
gc = geonamescache.GeonamesCache()

In [101]:
# Get the dataframe with only not null cities and headlines
data = data[~data.cities.isnull()][['cities', 'headline']]
data.head(20)

           cities                                           headline
0           Miami                           Zika Outbreak Hits Miami
1   New York City                    Could Zika Reach New York City?
2     Miami Beach                  First Case of Zika in Miami Beach
3          Recife            Mystery Virus Spreads in Recife, Brazil
4          Dallas            Dallas man comes down with case of Zika
5        Trinidad                  Trinidad confirms first Zika case
6         Houston             Zika Concerns are Spreading in Houston
7          Geneve              Geneve Scientists Battle to Find Cure
8         Atlanta              The CDC in Atlanta is Growing Worried
9       Sao Paulo                 Zika Infested Monkeys in Sao Paulo
10    Brownsville              Brownsville teen contracts Zika virus
11      St. Louis  Mosquito control efforts in St. Louis take new...
12       San Juan  San Juan reports 1st U.S. Zika-related death a...
13      Galveston                   Flu outbreak in Galveston, Texas
14         Manila                 Zika alert - Manila now threatened
15         Iloilo                     Zika afflicts 7 in Iloilo City
16    Los Angeles               New Los Angeles Hairstyle goes Viral
18        Orlando               Orlando volunteers aid Zika research
20        Chicago                Chicago's First Zika Case Confirmed
21          Tampa              Tampa Bay Area Zika Case Count Climbs

In [102]:
data.describe

<bound method NDFrame.describe of             cities                                           headline
0            Miami                           Zika Outbreak Hits Miami
1    New York City                    Could Zika Reach New York City?
2      Miami Beach                  First Case of Zika in Miami Beach
3           Recife            Mystery Virus Spreads in Recife, Brazil
4           Dallas            Dallas man comes down with case of Zika
..             ...                                                ...
645      Jerusalem  Rumors about Rabies spreading in Jerusalem hav...
646         Indang              More Zika patients reported in Indang
647           Suva  Suva authorities confirmed the spread of Rotav...
648    Bella Vista         More Zika patients reported in Bella Vista
649  Wichita Falls                     Zika Outbreak in Wichita Falls

[608 rows x 2 columns]>

In [115]:
# Create a mapping from countrycode given by the city 
# to Country name used in the resulting dataframe
from geonamescache.mappers import country
mapper = country(from_key='iso', to_key='name')

latitude = []
longitude = []
countries = []

# Iterate on the cities and append the values for the max population
def find_latitude_longitude(element):
    city = max(gc.get_cities_by_name(city_accent_mapping[element]),key=lambda x: list(x.values())[0]['population'])
    city = list(city.values())[0]
    latitude=city['latitude']
    longitude=city["longitude"]
    countries=mapper(city["countrycode"])
    return dict(latitude=latitude,longitude=longitude,countries=countries)

headlines_city_Location = [
    find_latitude_longitude(element for element in data.cities.values)
]
headlines_city_location[-10:]

KeyError: <generator object <genexpr> at 0x12136bd50>

In [104]:
save_file = "./data/headlines_and_locations.json"
with open(save_file, "w") as fout:
    fout.write(json.dumps(data))

TypeError: Object of type DataFrame is not JSON serializable

In [108]:
data.cities

0              Miami
1      New York City
2        Miami Beach
3             Recife
4             Dallas
           ...
645        Jerusalem
646           Indang
647             Suva
648      Bella Vista
649    Wichita Falls
Name: cities, Length: 608, dtype: object

In [112]:
type(data.headline)

pandas.core.series.Series