In [1]:
import numpy as np
import json
import pandas as pd

data = pd.read_json("./data/headline_cities_and_countries.json")
data = data.replace({None: np.nan})

data.head(10)

                                  headline countries         cities
0                 Zika Outbreak Hits Miami       NaN          Miami
1          Could Zika Reach New York City?       NaN  New York City
2        First Case of Zika in Miami Beach       NaN    Miami Beach
3  Mystery Virus Spreads in Recife, Brazil    Brazil         Recife
4  Dallas man comes down with case of Zika       NaN         Dallas
5        Trinidad confirms first Zika case       NaN       Trinidad
6   Zika Concerns are Spreading in Houston       NaN        Houston
7    Geneve Scientists Battle to Find Cure       NaN         Geneve
8    The CDC in Atlanta is Growing Worried       NaN        Atlanta
9       Zika Infested Monkeys in Sao Paulo       NaN      Sao Paulo

Logic for finding the latitude, longitude for the city

if cities[n] == Nan and countries[n] == Nan
        latitude[n] = Nan, longitude[n] = Nan
    elif cities[n] == NaN and country[n] != Nan:
        get the latitude and longitude using countries[n]
    elif count(cities[n] == 1):
        get the latitude and longitude using cities[n]
    elif:   
        arbitration(city[n]

In [2]:
data.loc[6:10, ["headline","countries"]]

                                  headline countries
6   Zika Concerns are Spreading in Houston       NaN
7    Geneve Scientists Battle to Find Cure       NaN
8    The CDC in Atlanta is Growing Worried       NaN
9       Zika Infested Monkeys in Sao Paulo       NaN
10   Brownsville teen contracts Zika virus       NaN

In [10]:
data.describe()

                              headline countries  cities
count                              650        15     608
unique                             647        10     573
top     Spanish Flu Outbreak in Lisbon    Brazil  Monroe
freq                                 2         3       4

In [16]:
data[data.countries.notnull()].describe()

                                  headline countries       cities
count                                   15        15           15
unique                                  15        10           14
top     Belize City under threat from Zika  Malaysia  Panama City
freq                                     1         3            2

In [17]:
data[data.cities.notnull()].describe()

                                    headline countries  cities
count                                    608        15     608
unique                                   605        10     573
top     Spanish Flu Spreading through Madrid  Malaysia  Monroe
freq                                       2         3       4

In [24]:
data.loc[data["cities"] == "Monroe", "headline"].value_counts()

Spike of Syphilis Cases in West Monroe                                         1
The Spread of Respiratory Syncytial Virus in Monroe has been Confirmed         1
Lower Hospitalization in Monroe after Hepatitis D Vaccine becomes Mandatory    1
West Nile Virus Hits Monroe                                                    1
Name: headline, dtype: int64

In [217]:
cities = (data.cities.value_counts()>1)
for city in cities[cities == True].index:

Index(['Monroe', 'Madrid', 'Miami', 'Barcelona', 'Norwalk', 'Jefferson',
       'Cancun', 'Panama City', 'Fairfield', 'Ibadan', 'Hollywood',
       'Greenville', 'Bedford', 'Birmingham', 'Richmond', 'Colombo',
       'Palm Springs', 'Zanzibar', 'Edinburgh', 'Johannesburg', 'Rochester',
       'Cambridge', 'Albany', 'Melbourne', 'San Jose', 'London', 'Orange',
       'Lisbon'],
      dtype='object')

In [237]:
import geonamescache
gc = geonamescache.GeonamesCache()

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [285]:
def find_latlon_for_max_population(city_name):
    if not city_name:
        return dict(cities=np.nan, latitude=np.nan, longitude=np.nan)
    else:
        city = max(gc.get_cities_by_name(city_name),key=lambda x: list(x.values())[0]['population'])
        city = list(city.values())[0]
        return dict(cities=city['name'], latitude=city['latitude'], longitude=city['longitude'])

city_rep = pd.Series(data.cities.values)
city_rep.fillna(value=0,inplace=True)
for city_name in city_rep:
    find_latlon_for_max_population(city_name)

ValueError: max() arg is an empty sequence

In [154]:
city = gc.get_cities_by_name("Madrid")

SyntaxError: can't assign to literal (<ipython-input-154-6899768507d1>, line 1)

In [205]:
for i in city:
    for v in i.values():
        print(v["geonameid"],v["name"], v["population"])

3675707 Madrid 50437
3117735 Madrid 3255944

In [136]:
v["population"]

array({'geonameid': 3675707, 'name': 'Madrid', 'latitude': 4.73245, 'longitude': -74.26419, 'countrycode': 'CO', 'population': 50437, 'timezone': 'America/Bogota', 'admin1code': '33'},
      dtype=object)

In [ ]:
df = df.assign(Latitude=latitudes, Longitude=longitudes)
df.head()

In [283]:
city_rep = pd.Series(data.cities.values)
city_rep.fillna(value=0,inplace=True)
for city_name in city_rep:
    print(city_name)

Miami
New York City
Miami Beach
Recife
Dallas
Trinidad
Houston
Geneve
Atlanta
Sao Paulo
Brownsville
St. Louis
San Juan
Galveston
Manila
Iloilo
Los Angeles

Orlando

Chicago
Tampa
Flint
Baltimore
London
Ho Chi Minh City
Philadelphia
Boston
Paris
San Diego
Bangkok
Beijing
Salvador
Kuala Lumpur
Yangon
Tallahassee
San Francisco
Bethesda
Townsville
Mandaluyong City
Santa Rosa
San Salvador
Cleveland
Austin
Piracicaba
Lima
Toronto
Bogota

Brisbane
Dakar
Havana
Key West
Vancouver
Seattle
Nashville
Saint Croix
Fort Collins
Klang
Guatemala City
Madison
Sarasota
Entebbe

Brasilia
Jacksonville
Shenzhen
Caracas
Quezon City
Sydney
Mumbai
Pune
Hanoi

Silver Spring
Delhi

Belize City
Campinas
Soyapango
Rome
Seoul
Quebec
Mexico City
Rochester
El Paso
Cucuta
Jakarta

Salt Lake City
San Antonio
Kampala
Rockhampton
Tegucigalpa
Belo Horizonte
Melbourne
Columbus
Taipei
Seminole
Antipolo
Bacoor
Can
Calamba
Hollywood
Petaling Jaya
Johannesburg
Buenos Aires
Guangzhou
Doral
Tokyo
Hamilton
Savannah
Hyderabad
Birmingham
Majuro
Cancun
Cancun
Fairfax
Barcelona
Santa Barbara
Spring
Villavicencio
Laredo
New Delhi
Kota Kinabalu
Ventura
Nassau
Johor Bahru
Nha Trang
Cincinnati
Molo
Hong Kong
Sengkang
Charlotte
Batangas
Johannesburg
Bacolod City
Masaya
Springfield

Jupiter
Westchester
Abuja
San Juan Capistrano
Spokane
Rio Grande
Colombo
Louisville
Baton Rouge
Florence
Pensacola
Corpus Christi
Lemon Grove
Huntsville
Athens
Panama City

Brooklyn
Escondido
Belmont
Sacramento
Veracruz
Dayton
Kingston
Gainesville
Montevideo
Detroit
Arhus
Niteroi
Singapore
Manhattan
Miri
Syracuse
Raleigh
Auckland
Shreveport
Ithaca
Strasbourg
Fresno
Missoula
Santos
Belfort
Libreville
Tucson
Winnipeg
Kansas City
Cambridge
Toledo
Lafayette
Mecca
San Benito
Harrisburg
North Miami
Urbana
Pittsburgh
Denver
Tunapuna
Mandalay
Boulder
Joao Pessoa
Rockville
Chatham
Ontario
Naples
Davao
Arcadia
Oxford
Stephenville
Providence
Windsor
Valdosta
Coral Gables
Danbury
Chula Vista
Jefferson
Las Vegas
West Palm Beach
Mobile
Daytona Beach
Lausanne
San Jose
Farmington
Union
Albany
Bello
Hamburg
Madera
Lubbock
Boise
Lagos
Ibadan
Birmingham
Waldorf


Newark
Sparks
Berlin
Ardmore
Florida
Fontainebleau
Frisco
Dubai
Benton
Calgary
Pinewood
Ljubljana
Tehran

Murcia
Margate
St. Petersburg

Vienna
Orange
Richmond
Medina

Hidalgo
Hollywood
Oaxaca
Durham
Taoyuan City
La Jolla
Hartford
New Bedford
Tulsa
Indianapolis
Dhaka
Albany

Starkville
Yaounde
Nadi
Tocumen
Phnom Penh
Harlingen
Barranquilla
Milwaukee
Rotterdam
Arlington
Yogyakarta
Dublin
Baud
Salem
St. Catharines

Camacari
Pasig City
Kampong Cham
Rizal
Palm Beach Gardens
Saint Petersburg
Meriden
Abilene
Palm Springs
Halifax
Natal
Rochester
Phetchabun
Bullhead City
Wellington
Ottawa
Summerville
Bloomington
Stuttgart
Glasgow
Phoenix

Madrid
Madrid
Weslaco
Santiago
Las Cumbres
Jefferson
Ennis
Southampton
Boardman
Richland
Richmond
Kobe
Schenectady
Grenoble
Yerevan
Sincelejo
Montpellier
Praia

Lakewood
Kuching
Omaha
Springs
Coronado
Lorain
Simpsonville
Framingham
Brighton
Jacobina
Bridgeport

Wailuku
Surat

Bedford
Tamarac
Milford
Huddersfield
Bakersfield
Papeete
Udon Thani
Stockholm
Berkeley

New Orleans
Annapolis
Monroe
Saginaw
Sevierville
Duisburg
Saint Charles
Gaithersburg
San Bernardino
Laventille
Waco
Newcastle
Erie

Greenville
Calumpang
Quisqueya
Montreal
Fortaleza
Bundaberg
Stamford
Huntington
Bristol
Stillwater
Imperial


Springdale
Norwalk
Orange
Pilsen
La Paz
Puducherry
Carrollton
Tangier
Iquitos
Racine
Lansing
Alpharetta
Pedro Juan Caballero
Melbourne
La Libertad
Mattoon
Kent
Bonita Springs
Brazzaville
Fort Myers
Lewisville
Ogden
Fort Hood
Huzhou
Newburgh
Iowa City
Managua
Santa Elena
Howard Beach
Reno
Plainfield
Carlsbad
Scranton
Brussels
Olinda
Hallandale Beach
Storrs
Germantown
North Platte
Golden
Ganja
Kathmandu
Fairfield
Kozhikode
Santa Fe
Alexandria
Alhambra
Damascus
Pekanbaru

Bentonville
Hammond
Bridgeton
Biloxi
Hilden
Khartoum
Harare
Sibu
Quezon
Crawfordsville
Greenville
Akron
Nuevo Laredo
San Mateo
Boca Raton
Bradenton
University City
Wisconsin Rapids
Kissimmee
Fremont
The Bronx
North Bay
Baku
Sochi
Caguas
Tacoma
Nashua
Arvada
Monroe
Ribeirao Preto

Deerfield
Bonn

Foster City
Santa Monica
Fort Pierce
Pyongyang
Winter Park
Durango
Staten Island
Mpika
Gladstone
London
New Milford
Palo Alto
Hinthada
Quito
Vineland
Zamboanga
Custodia
Tupelo

Lisbon
Madrid
Barcelona
Lisbon
Madrid
Barcelona
Yakima
Luanda
Dumai
Redmond
Concord
Rockland
Mankato
Toms River
Zanzibar
Zanzibar
Arusha
New Kingston
Yokohama
Kitwe
Bismarck
Minot
Terrebonne
North Vancouver
Hemet


Darien
Fairfield
Princeton
Copenhagen
Wuhan
San Luis Potosi

Canberra
Greater Noida
Palm Springs

Leesburg
Cantu

Kihei
Sangre Grande
Colombo
Addis Ababa
University
Janesville
Altus
Miami
Jaen
Edinburgh
Reynosa
Tulare
Chennai
Danvers
Miami
Medellin
Albuquerque
Cranford
Monroe
Springville
San Onofre
Moscow
Joliet
Chanthaburi
Lawrenceville
Ciudad Acuna
Limoeiro
Ibadan
Avon Lake
Kinshasa
Henderson
Lakeland
Winona
Canton
Ronkonkoma
Kedougou
Norwalk
Medford
Evansville
Bossier City
San Jose
Edinburgh
Duluth

Norfolk
Botucatu
Manassas
Fayetteville
Cambridge
Fukushima
Miami
North Bethesda
Panama City
Dongguan
Belmopan
Yuma
Morristown
Joplin

Corona
Danville

Marquette
Anaheim
Manaus
Caucasia
Aurora
Manchester
Kamphaeng Phet
Labasa
Fargo
Mexicali
Hauppauge
Hayward


Plant City
Sanaa
North Miami Beach
Kensington

Riverside
Northfield
Monroe
Trenton
Ilopango
Barstow
Aswan
East Moline
Redlands
Basel
Kampong Speu
Alameda
Lyon
Memphis
Delray Beach
Hampton
Sao Jose
Stratford
South Bend
Bethlehem
Davenport
Suzhou
Elyria

Tbilisi


Suffolk
Allentown
Bedford
Yiwu
Yurimaguas
Easton
Milton
Sevilla
Clovis
Fort Worth
Boynton Beach
Portoviejo
Muscat
Jerusalem
Indang
Suva
Bella Vista
Wichita Falls