In [55]:
import numpy as np
import json
import pandas as pd

data = pd.read_json("./data/headline_cities_and_countries.json")
data = data.replace({None: np.nan})
    
data.head(10)

                                  headline countries         cities
0                 Zika Outbreak Hits Miami       NaN          Miami
1          Could Zika Reach New York City?       NaN  New York City
2        First Case of Zika in Miami Beach       NaN    Miami Beach
3  Mystery Virus Spreads in Recife, Brazil    Brazil         Recife
4  Dallas man comes down with case of Zika       NaN         Dallas
5        Trinidad confirms first Zika case       NaN       Trinidad
6   Zika Concerns are Spreading in Houston       NaN        Houston
7    Geneve Scientists Battle to Find Cure       NaN         Geneve
8    The CDC in Atlanta is Growing Worried       NaN        Atlanta
9       Zika Infested Monkeys in Sao Paulo       NaN      Sao Paulo

In [ ]:
acc_cities = pd.read_json("./data/city_accent_mapping.json")
acc_cities = acc_cities.replace({None: np.nan})
    
acc_cities.head(10)

In [ ]:
import unidecode

city_accent_mapping = {
    unidecode.unidecode(city): city for city in acc_cities
}

city_accent_mapping["Geneve"]

In [2]:
data.loc[6:10, ["headline","countries"]]

                                  headline countries
6   Zika Concerns are Spreading in Houston       NaN
7    Geneve Scientists Battle to Find Cure       NaN
8    The CDC in Atlanta is Growing Worried       NaN
9       Zika Infested Monkeys in Sao Paulo       NaN
10   Brownsville teen contracts Zika virus       NaN

In [3]:
data.describe()

                              headline countries  cities
count                              650        15     608
unique                             647        10     573
top     Spanish Flu Outbreak in Lisbon    Brazil  Madrid
freq                                 2         3       4

In [4]:
data[data.countries.notnull()].describe()

                                  headline countries       cities
count                                   15        15           15
unique                                  15        10           14
top     Zika reaches Johor Bahru, Malaysia    Brazil  Panama City
freq                                     1         3            2

In [5]:
data[data.cities.notnull()].describe()

                              headline countries  cities
count                              608        15     608
unique                             605        10     573
top     Spanish Flu Outbreak in Lisbon  Malaysia  Monroe
freq                                 2         3       4

In [6]:
data.loc[data["cities"] == "Monroe", "headline"].value_counts()

Lower Hospitalization in Monroe after Hepatitis D Vaccine becomes Mandatory    1
Spike of Syphilis Cases in West Monroe                                         1
The Spread of Respiratory Syncytial Virus in Monroe has been Confirmed         1
West Nile Virus Hits Monroe                                                    1
Name: headline, dtype: int64

In [20]:
import geonamescache
gc = geonamescache.GeonamesCache()

In [22]:
# Get the dataframe with only not null cities and headlines
data = data[~data.cities.isnull()][['cities', 'headline']]
data.head(20)

           cities                                           headline
0           Miami                           Zika Outbreak Hits Miami
1   New York City                    Could Zika Reach New York City?
2     Miami Beach                  First Case of Zika in Miami Beach
3          Recife            Mystery Virus Spreads in Recife, Brazil
4          Dallas            Dallas man comes down with case of Zika
5        Trinidad                  Trinidad confirms first Zika case
6         Houston             Zika Concerns are Spreading in Houston
7          Geneve              Geneve Scientists Battle to Find Cure
8         Atlanta              The CDC in Atlanta is Growing Worried
9       Sao Paulo                 Zika Infested Monkeys in Sao Paulo
10    Brownsville              Brownsville teen contracts Zika virus
11      St. Louis  Mosquito control efforts in St. Louis take new...
12       San Juan  San Juan reports 1st U.S. Zika-related death a...
13      Galveston                   Flu outbreak in Galveston, Texas
14         Manila                 Zika alert - Manila now threatened
15         Iloilo                     Zika afflicts 7 in Iloilo City
16    Los Angeles               New Los Angeles Hairstyle goes Viral
18        Orlando               Orlando volunteers aid Zika research
20        Chicago                Chicago's First Zika Case Confirmed
21          Tampa              Tampa Bay Area Zika Case Count Climbs

In [28]:
data.describe

<bound method NDFrame.describe of             cities                                           headline
0            Miami                           Zika Outbreak Hits Miami
1    New York City                    Could Zika Reach New York City?
2      Miami Beach                  First Case of Zika in Miami Beach
3           Recife            Mystery Virus Spreads in Recife, Brazil
4           Dallas            Dallas man comes down with case of Zika
..             ...                                                ...
645      Jerusalem  Rumors about Rabies spreading in Jerusalem hav...
646         Indang              More Zika patients reported in Indang
647           Suva  Suva authorities confirmed the spread of Rotav...
648    Bella Vista         More Zika patients reported in Bella Vista
649  Wichita Falls                     Zika Outbreak in Wichita Falls

[608 rows x 2 columns]>

In [37]:
chicago = gc.get_cities_by_name(data.iloc[18]['cities'])
type(chicago)
#chicago(key=lambda x: list(x.values())[0]['population'])

list

In [38]:
latitude = []
longitude = []
countrycode = []

# Iterate on the cities and append the values for the max population
for element in data.cities.values:
    print(element)
    city = max(gc.get_cities_by_name(city_accent_mapping[element]),key=lambda x: list(x.values())[0]['population'])
    print(city)
    city = list(city.values())[0]
    latitude.append(city['latitude'])
    longitude.append(city["longitude"])
    countrycode.append(city["countrycode"])
    
data = data.assign(latitude=latitude, longitude=longitude, countrycode=countrycode)
data.head(20)

Miami
{'4164138': {'geonameid': 4164138, 'name': 'Miami', 'latitude': 25.77427, 'longitude': -80.19366, 'countrycode': 'US', 'population': 441003, 'timezone': 'America/New_York', 'admin1code': 'FL'}}
New York City
{'5128581': {'geonameid': 5128581, 'name': 'New York City', 'latitude': 40.71427, 'longitude': -74.00597, 'countrycode': 'US', 'population': 8175133, 'timezone': 'America/New_York', 'admin1code': 'NY'}}
Miami Beach
{'4164143': {'geonameid': 4164143, 'name': 'Miami Beach', 'latitude': 25.79065, 'longitude': -80.13005, 'countrycode': 'US', 'population': 92312, 'timezone': 'America/New_York', 'admin1code': 'FL'}}
Recife
{'3390760': {'geonameid': 3390760, 'name': 'Recife', 'latitude': -8.05389, 'longitude': -34.88111, 'countrycode': 'BR', 'population': 1478098, 'timezone': 'America/Recife', 'admin1code': '30'}}
Dallas
{'4684888': {'geonameid': 4684888, 'name': 'Dallas', 'latitude': 32.78306, 'longitude': -96.80667, 'countrycode': 'US', 'population': 1300092, 'timezone': 'America/Chicago', 'admin1code': 'TX'}}
Trinidad
{'3902377': {'geonameid': 3902377, 'name': 'Trinidad', 'latitude': -14.83333, 'longitude': -64.9, 'countrycode': 'BO', 'population': 84259, 'timezone': 'America/La_Paz', 'admin1code': '03'}}
Houston
{'4699066': {'geonameid': 4699066, 'name': 'Houston', 'latitude': 29.76328, 'longitude': -95.36327, 'countrycode': 'US', 'population': 2296224, 'timezone': 'America/Chicago', 'admin1code': 'TX'}}
Geneve

ValueError: max() arg is an empty sequence

In [49]:
gc_cities = [city['name'] for city in gc.get_cities().values()]
for stuff in gc_cities:
    if stuff == 'Genève':
        print(stuff)

Genève

In [205]:
for i in city:
    for v in i.values():
        print(v["geonameid"],v["name"], v["population"])

3675707 Madrid 50437
3117735 Madrid 3255944

In [136]:
v["population"]

array({'geonameid': 3675707, 'name': 'Madrid', 'latitude': 4.73245, 'longitude': -74.26419, 'countrycode': 'CO', 'population': 50437, 'timezone': 'America/Bogota', 'admin1code': '33'},
      dtype=object)

In [ ]:
df = df.assign(Latitude=latitudes, Longitude=longitudes)
df.head()

In [283]:
city_rep = pd.Series(data.cities.values)
city_rep.fillna(value=0,inplace=True)
for city_name in city_rep:
    print(city_name)

Miami
New York City
Miami Beach
Recife
Dallas
Trinidad
Houston
Geneve
Atlanta
Sao Paulo
Brownsville
St. Louis
San Juan
Galveston
Manila
Iloilo
Los Angeles

Orlando

Chicago
Tampa
Flint
Baltimore
London
Ho Chi Minh City
Philadelphia
Boston
Paris
San Diego
Bangkok
Beijing
Salvador
Kuala Lumpur
Yangon
Tallahassee
San Francisco
Bethesda
Townsville
Mandaluyong City
Santa Rosa
San Salvador
Cleveland
Austin
Piracicaba
Lima
Toronto
Bogota

Brisbane
Dakar
Havana
Key West
Vancouver
Seattle
Nashville
Saint Croix
Fort Collins
Klang
Guatemala City
Madison
Sarasota
Entebbe

Brasilia
Jacksonville
Shenzhen
Caracas
Quezon City
Sydney
Mumbai
Pune
Hanoi

Silver Spring
Delhi

Belize City
Campinas
Soyapango
Rome
Seoul
Quebec
Mexico City
Rochester
El Paso
Cucuta
Jakarta

Salt Lake City
San Antonio
Kampala
Rockhampton
Tegucigalpa
Belo Horizonte
Melbourne
Columbus
Taipei
Seminole
Antipolo
Bacoor
Can
Calamba
Hollywood
Petaling Jaya
Johannesburg
Buenos Aires
Guangzhou
Doral
Tokyo
Hamilton
Savannah
Hyderabad
Birmingham
Majuro
Cancun
Cancun
Fairfax
Barcelona
Santa Barbara
Spring
Villavicencio
Laredo
New Delhi
Kota Kinabalu
Ventura
Nassau
Johor Bahru
Nha Trang
Cincinnati
Molo
Hong Kong
Sengkang
Charlotte
Batangas
Johannesburg
Bacolod City
Masaya
Springfield

Jupiter
Westchester
Abuja
San Juan Capistrano
Spokane
Rio Grande
Colombo
Louisville
Baton Rouge
Florence
Pensacola
Corpus Christi
Lemon Grove
Huntsville
Athens
Panama City

Brooklyn
Escondido
Belmont
Sacramento
Veracruz
Dayton
Kingston
Gainesville
Montevideo
Detroit
Arhus
Niteroi
Singapore
Manhattan
Miri
Syracuse
Raleigh
Auckland
Shreveport
Ithaca
Strasbourg
Fresno
Missoula
Santos
Belfort
Libreville
Tucson
Winnipeg
Kansas City
Cambridge
Toledo
Lafayette
Mecca
San Benito
Harrisburg
North Miami
Urbana
Pittsburgh
Denver
Tunapuna
Mandalay
Boulder
Joao Pessoa
Rockville
Chatham
Ontario
Naples
Davao
Arcadia
Oxford
Stephenville
Providence
Windsor
Valdosta
Coral Gables
Danbury
Chula Vista
Jefferson
Las Vegas
West Palm Beach
Mobile
Daytona Beach
Lausanne
San Jose
Farmington
Union
Albany
Bello
Hamburg
Madera
Lubbock
Boise
Lagos
Ibadan
Birmingham
Waldorf


Newark
Sparks
Berlin
Ardmore
Florida
Fontainebleau
Frisco
Dubai
Benton
Calgary
Pinewood
Ljubljana
Tehran

Murcia
Margate
St. Petersburg

Vienna
Orange
Richmond
Medina

Hidalgo
Hollywood
Oaxaca
Durham
Taoyuan City
La Jolla
Hartford
New Bedford
Tulsa
Indianapolis
Dhaka
Albany

Starkville
Yaounde
Nadi
Tocumen
Phnom Penh
Harlingen
Barranquilla
Milwaukee
Rotterdam
Arlington
Yogyakarta
Dublin
Baud
Salem
St. Catharines

Camacari
Pasig City
Kampong Cham
Rizal
Palm Beach Gardens
Saint Petersburg
Meriden
Abilene
Palm Springs
Halifax
Natal
Rochester
Phetchabun
Bullhead City
Wellington
Ottawa
Summerville
Bloomington
Stuttgart
Glasgow
Phoenix

Madrid
Madrid
Weslaco
Santiago
Las Cumbres
Jefferson
Ennis
Southampton
Boardman
Richland
Richmond
Kobe
Schenectady
Grenoble
Yerevan
Sincelejo
Montpellier
Praia

Lakewood
Kuching
Omaha
Springs
Coronado
Lorain
Simpsonville
Framingham
Brighton
Jacobina
Bridgeport

Wailuku
Surat

Bedford
Tamarac
Milford
Huddersfield
Bakersfield
Papeete
Udon Thani
Stockholm
Berkeley

New Orleans
Annapolis
Monroe
Saginaw
Sevierville
Duisburg
Saint Charles
Gaithersburg
San Bernardino
Laventille
Waco
Newcastle
Erie

Greenville
Calumpang
Quisqueya
Montreal
Fortaleza
Bundaberg
Stamford
Huntington
Bristol
Stillwater
Imperial


Springdale
Norwalk
Orange
Pilsen
La Paz
Puducherry
Carrollton
Tangier
Iquitos
Racine
Lansing
Alpharetta
Pedro Juan Caballero
Melbourne
La Libertad
Mattoon
Kent
Bonita Springs
Brazzaville
Fort Myers
Lewisville
Ogden
Fort Hood
Huzhou
Newburgh
Iowa City
Managua
Santa Elena
Howard Beach
Reno
Plainfield
Carlsbad
Scranton
Brussels
Olinda
Hallandale Beach
Storrs
Germantown
North Platte
Golden
Ganja
Kathmandu
Fairfield
Kozhikode
Santa Fe
Alexandria
Alhambra
Damascus
Pekanbaru

Bentonville
Hammond
Bridgeton
Biloxi
Hilden
Khartoum
Harare
Sibu
Quezon
Crawfordsville
Greenville
Akron
Nuevo Laredo
San Mateo
Boca Raton
Bradenton
University City
Wisconsin Rapids
Kissimmee
Fremont
The Bronx
North Bay
Baku
Sochi
Caguas
Tacoma
Nashua
Arvada
Monroe
Ribeirao Preto

Deerfield
Bonn

Foster City
Santa Monica
Fort Pierce
Pyongyang
Winter Park
Durango
Staten Island
Mpika
Gladstone
London
New Milford
Palo Alto
Hinthada
Quito
Vineland
Zamboanga
Custodia
Tupelo

Lisbon
Madrid
Barcelona
Lisbon
Madrid
Barcelona
Yakima
Luanda
Dumai
Redmond
Concord
Rockland
Mankato
Toms River
Zanzibar
Zanzibar
Arusha
New Kingston
Yokohama
Kitwe
Bismarck
Minot
Terrebonne
North Vancouver
Hemet


Darien
Fairfield
Princeton
Copenhagen
Wuhan
San Luis Potosi

Canberra
Greater Noida
Palm Springs

Leesburg
Cantu

Kihei
Sangre Grande
Colombo
Addis Ababa
University
Janesville
Altus
Miami
Jaen
Edinburgh
Reynosa
Tulare
Chennai
Danvers
Miami
Medellin
Albuquerque
Cranford
Monroe
Springville
San Onofre
Moscow
Joliet
Chanthaburi
Lawrenceville
Ciudad Acuna
Limoeiro
Ibadan
Avon Lake
Kinshasa
Henderson
Lakeland
Winona
Canton
Ronkonkoma
Kedougou
Norwalk
Medford
Evansville
Bossier City
San Jose
Edinburgh
Duluth

Norfolk
Botucatu
Manassas
Fayetteville
Cambridge
Fukushima
Miami
North Bethesda
Panama City
Dongguan
Belmopan
Yuma
Morristown
Joplin

Corona
Danville

Marquette
Anaheim
Manaus
Caucasia
Aurora
Manchester
Kamphaeng Phet
Labasa
Fargo
Mexicali
Hauppauge
Hayward


Plant City
Sanaa
North Miami Beach
Kensington

Riverside
Northfield
Monroe
Trenton
Ilopango
Barstow
Aswan
East Moline
Redlands
Basel
Kampong Speu
Alameda
Lyon
Memphis
Delray Beach
Hampton
Sao Jose
Stratford
South Bend
Bethlehem
Davenport
Suzhou
Elyria

Tbilisi


Suffolk
Allentown
Bedford
Yiwu
Yurimaguas
Easton
Milton
Sevilla
Clovis
Fort Worth
Boynton Beach
Portoviejo
Muscat
Jerusalem
Indang
Suva
Bella Vista
Wichita Falls

In [296]:
city_rep = pd.Series(data.cities.values)

city_rep.dropna()
for x in city_rep.index:
    print(x, city_rep[x])

650
650
0 Miami
1 New York City
2 Miami Beach
3 Recife
4 Dallas
5 Trinidad
6 Houston
7 Geneve
8 Atlanta
9 Sao Paulo
10 Brownsville
11 St. Louis
12 San Juan
13 Galveston
14 Manila
15 Iloilo
16 Los Angeles
17
18 Orlando
19
20 Chicago
21 Tampa
22 Flint
23 Baltimore
24 London
25 Ho Chi Minh City
26 Philadelphia
27 Boston
28 Paris
29 San Diego
30 Bangkok
31 Beijing
32 Salvador
33 Kuala Lumpur
34 Yangon
35 Tallahassee
36 San Francisco
37 Bethesda
38 Townsville
39 Mandaluyong City
40 Santa Rosa
41 San Salvador
42 Cleveland
43 Austin
44 Piracicaba
45 Lima
46 Toronto
47 Bogota
48
49 Brisbane
50 Dakar
51 Havana
52 Key West
53 Vancouver
54 Seattle
55 Nashville
56 Saint Croix
57 Fort Collins
58 Klang
59 Guatemala City
60 Madison
61 Sarasota
62 Entebbe
63
64 Brasilia
65 Jacksonville
66 Shenzhen
67 Caracas
68 Quezon City
69 Sydney
70 Mumbai
71 Pune
72 Hanoi
73
74 Silver Spring
75 Delhi
76
77 Belize City
78 Campinas
79 Soyapango
80 Rome
81 Seoul
82 Quebec
83 Mexico City
84 Rochester
85 El Paso
86 Cucuta
87 Jakarta
88
89 Salt Lake City
90 San Antonio
91 Kampala
92 Rockhampton
93 Tegucigalpa
94 Belo Horizonte
95 Melbourne
96 Columbus
97 Taipei
98 Seminole
99 Antipolo
100 Bacoor
101 Can
102 Calamba
103 Hollywood
104 Petaling Jaya
105 Johannesburg
106 Buenos Aires
107 Guangzhou
108 Doral
109 Tokyo
110 Hamilton
111 Savannah
112 Hyderabad
113 Birmingham
114 Majuro
115 Cancun
116 Cancun
117 Fairfax
118 Barcelona
119 Santa Barbara
120 Spring
121 Villavicencio
122 Laredo
123 New Delhi
124 Kota Kinabalu
125 Ventura
126 Nassau
127 Johor Bahru
128 Nha Trang
129 Cincinnati
130 Molo
131 Hong Kong
132 Sengkang
133 Charlotte
134 Batangas
135 Johannesburg
136 Bacolod City
137 Masaya
138 Springfield
139
140 Jupiter
141 Westchester
142 Abuja
143 San Juan Capistrano
144 Spokane
145 Rio Grande
146 Colombo
147 Louisville
148 Baton Rouge
149 Florence
150 Pensacola
151 Corpus Christi
152 Lemon Grove
153 Huntsville
154 Athens
155 Panama City
156
157 Brooklyn
158 Escondido
159 Belmont
160 Sacramento
161 Veracruz
162 Dayton
163 Kingston
164 Gainesville
165 Montevideo
166 Detroit
167 Arhus
168 Niteroi
169 Singapore
170 Manhattan
171 Miri
172 Syracuse
173 Raleigh
174 Auckland
175 Shreveport
176 Ithaca
177 Strasbourg
178 Fresno
179 Missoula
180 Santos
181 Belfort
182 Libreville
183 Tucson
184 Winnipeg
185 Kansas City
186 Cambridge
187 Toledo
188 Lafayette
189 Mecca
190 San Benito
191 Harrisburg
192 North Miami
193 Urbana
194 Pittsburgh
195 Denver
196 Tunapuna
197 Mandalay
198 Boulder
199 Joao Pessoa
200 Rockville
201 Chatham
202 Ontario
203 Naples
204 Davao
205 Arcadia
206 Oxford
207 Stephenville
208 Providence
209 Windsor
210 Valdosta
211 Coral Gables
212 Danbury
213 Chula Vista
214 Jefferson
215 Las Vegas
216 West Palm Beach
217 Mobile
218 Daytona Beach
219 Lausanne
220 San Jose
221 Farmington
222 Union
223 Albany
224 Bello
225 Hamburg
226 Madera
227 Lubbock
228 Boise
229 Lagos
230 Ibadan
231 Birmingham
232 Waldorf
233
234
235 Newark
236 Sparks
237 Berlin
238 Ardmore
239 Florida
240 Fontainebleau
241 Frisco
242 Dubai
243 Benton
244 Calgary
245 Pinewood
246 Ljubljana
247 Tehran
248
249 Murcia
250 Margate
251 St. Petersburg
252
253 Vienna
254 Orange
255 Richmond
256 Medina
257
258 Hidalgo
259 Hollywood
260 Oaxaca
261 Durham
262 Taoyuan City
263 La Jolla
264 Hartford
265 New Bedford
266 Tulsa
267 Indianapolis
268 Dhaka
269 Albany
270
271 Starkville
272 Yaounde
273 Nadi
274 Tocumen
275 Phnom Penh
276 Harlingen
277 Barranquilla
278 Milwaukee
279 Rotterdam
280 Arlington
281 Yogyakarta
282 Dublin
283 Baud
284 Salem
285 St. Catharines
286
287 Camacari
288 Pasig City
289 Kampong Cham
290 Rizal
291 Palm Beach Gardens
292 Saint Petersburg
293 Meriden
294 Abilene
295 Palm Springs
296 Halifax
297 Natal
298 Rochester
299 Phetchabun
300 Bullhead City
301 Wellington
302 Ottawa
303 Summerville
304 Bloomington
305 Stuttgart
306 Glasgow
307 Phoenix
308
309 Madrid
310 Madrid
311 Weslaco
312 Santiago
313 Las Cumbres
314 Jefferson
315 Ennis
316 Southampton
317 Boardman
318 Richland
319 Richmond
320 Kobe
321 Schenectady
322 Grenoble
323 Yerevan
324 Sincelejo
325 Montpellier
326 Praia
327
328 Lakewood
329 Kuching
330 Omaha
331 Springs
332 Coronado
333 Lorain
334 Simpsonville
335 Framingham
336 Brighton
337 Jacobina
338 Bridgeport
339
340 Wailuku
341 Surat
342
343 Bedford
344 Tamarac
345 Milford
346 Huddersfield
347 Bakersfield
348 Papeete
349 Udon Thani
350 Stockholm
351 Berkeley
352
353 New Orleans
354 Annapolis
355 Monroe
356 Saginaw
357 Sevierville
358 Duisburg
359 Saint Charles
360 Gaithersburg
361 San Bernardino
362 Laventille
363 Waco
364 Newcastle
365 Erie
366
367 Greenville
368 Calumpang
369 Quisqueya
370 Montreal
371 Fortaleza
372 Bundaberg
373 Stamford
374 Huntington
375 Bristol
376 Stillwater
377 Imperial
378
379
380 Springdale
381 Norwalk
382 Orange
383 Pilsen
384 La Paz
385 Puducherry
386 Carrollton
387 Tangier
388 Iquitos
389 Racine
390 Lansing
391 Alpharetta
392 Pedro Juan Caballero
393 Melbourne
394 La Libertad
395 Mattoon
396 Kent
397 Bonita Springs
398 Brazzaville
399 Fort Myers
400 Lewisville
401 Ogden
402 Fort Hood
403 Huzhou
404 Newburgh
405 Iowa City
406 Managua
407 Santa Elena
408 Howard Beach
409 Reno
410 Plainfield
411 Carlsbad
412 Scranton
413 Brussels
414 Olinda
415 Hallandale Beach
416 Storrs
417 Germantown
418 North Platte
419 Golden
420 Ganja
421 Kathmandu
422 Fairfield
423 Kozhikode
424 Santa Fe
425 Alexandria
426 Alhambra
427 Damascus
428 Pekanbaru
429
430 Bentonville
431 Hammond
432 Bridgeton
433 Biloxi
434 Hilden
435 Khartoum
436 Harare
437 Sibu
438 Quezon
439 Crawfordsville
440 Greenville
441 Akron
442 Nuevo Laredo
443 San Mateo
444 Boca Raton
445 Bradenton
446 University City
447 Wisconsin Rapids
448 Kissimmee
449 Fremont
450 The Bronx
451 North Bay
452 Baku
453 Sochi
454 Caguas
455 Tacoma
456 Nashua
457 Arvada
458 Monroe
459 Ribeirao Preto
460
461 Deerfield
462 Bonn
463
464 Foster City
465 Santa Monica
466 Fort Pierce
467 Pyongyang
468 Winter Park
469 Durango
470 Staten Island
471 Mpika
472 Gladstone
473 London
474 New Milford
475 Palo Alto
476 Hinthada
477 Quito
478 Vineland
479 Zamboanga
480 Custodia
481 Tupelo
482
483 Lisbon
484 Madrid
485 Barcelona
486 Lisbon
487 Madrid
488 Barcelona
489 Yakima
490 Luanda
491 Dumai
492 Redmond
493 Concord
494 Rockland
495 Mankato
496 Toms River
497 Zanzibar
498 Zanzibar
499 Arusha
500 New Kingston
501 Yokohama
502 Kitwe
503 Bismarck
504 Minot
505 Terrebonne
506 North Vancouver
507 Hemet
508
509
510 Darien
511 Fairfield
512 Princeton
513 Copenhagen
514 Wuhan
515 San Luis Potosi
516
517 Canberra
518 Greater Noida
519 Palm Springs
520
521 Leesburg
522 Cantu
523
524 Kihei
525 Sangre Grande
526 Colombo
527 Addis Ababa
528 University
529 Janesville
530 Altus
531 Miami
532 Jaen
533 Edinburgh
534 Reynosa
535 Tulare
536 Chennai
537 Danvers
538 Miami
539 Medellin
540 Albuquerque
541 Cranford
542 Monroe
543 Springville
544 San Onofre
545 Moscow
546 Joliet
547 Chanthaburi
548 Lawrenceville
549 Ciudad Acuna
550 Limoeiro
551 Ibadan
552 Avon Lake
553 Kinshasa
554 Henderson
555 Lakeland
556 Winona
557 Canton
558 Ronkonkoma
559 Kedougou
560 Norwalk
561 Medford
562 Evansville
563 Bossier City
564 San Jose
565 Edinburgh
566 Duluth
567
568 Norfolk
569 Botucatu
570 Manassas
571 Fayetteville
572 Cambridge
573 Fukushima
574 Miami
575 North Bethesda
576 Panama City
577 Dongguan
578 Belmopan
579 Yuma
580 Morristown
581 Joplin
582
583 Corona
584 Danville
585
586 Marquette
587 Anaheim
588 Manaus
589 Caucasia
590 Aurora
591 Manchester
592 Kamphaeng Phet
593 Labasa
594 Fargo
595 Mexicali
596 Hauppauge
597 Hayward
598
599
600 Plant City
601 Sanaa
602 North Miami Beach
603 Kensington
604
605 Riverside
606 Northfield
607 Monroe
608 Trenton
609 Ilopango
610 Barstow
611 Aswan
612 East Moline
613 Redlands
614 Basel
615 Kampong Speu
616 Alameda
617 Lyon
618 Memphis
619 Delray Beach
620 Hampton
621 Sao Jose
622 Stratford
623 South Bend
624 Bethlehem
625 Davenport
626 Suzhou
627 Elyria
628
629 Tbilisi
630
631
632 Suffolk
633 Allentown
634 Bedford
635 Yiwu
636 Yurimaguas
637 Easton
638 Milton
639 Sevilla
640 Clovis
641 Fort Worth
642 Boynton Beach
643 Portoviejo
644 Muscat
645 Jerusalem
646 Indang
647 Suva
648 Bella Vista
649 Wichita Falls

In [295]:
type(city_rep)

pandas.core.series.Series

In [297]:
gc.get_cities_by_name('')

[]

In [10]:
city = max(gc.get_cities_by_name("Miami"),key=lambda x: list(x.values())[0]['population'])
city = list(city.values())[0]
print(type(city['latitude']))
print(type(city['longitude']))
print(type(city['countrycode']))

<class 'float'>
<class 'float'>
<class 'str'>

In [13]:
data_no_cities = data[data.cities.isnull()]

In [14]:
data_no_cities

                                              headline countries cities
17                       Louisiana Zika cases up to 26       NaN    NaN
19                 Zika infects pregnant woman in Cebu       NaN    NaN
48                      Spanish Flu Sighted in Antigua       NaN    NaN
63   Carnival under threat in Rio De Janeiro due to...       NaN    NaN
73                          Zika case reported in Oton       NaN    NaN
76   Hillsborough uses innovative trap against Zika...       NaN    NaN
88            Maka City Experiences Influenza Outbreak       NaN    NaN
139             More Zika patients reported in Mcallen       NaN    NaN
156            West Nile Virus Outbreak in Saint Johns       NaN    NaN
233  More people in Mclean are infected with Hepati...       NaN    NaN
234                         Malaria Exposure in Sussex       NaN    NaN
248              Greenwich Establishes Zika Task Force       NaN    NaN
252         Will West Nile Virus vaccine help Parsons?       NaN    NaN
257          Yulee takes a hit from Spreading Sickness       NaN    NaN
270  The Spread of Chikungunya in Davidson has been...       NaN    NaN
286                  Zika case reported in Los Fresnos       NaN    NaN
308  More people in Boucau are infected with HIV ev...       NaN    NaN
327                   Bronchitis Outbreak in Manhasset       NaN    NaN
339              Zika Troubles come to Padre Las Casas       NaN    NaN
342  Rumors about Influenza Spreading in Dobbs Ferr...       NaN    NaN
352                         Outbreak of Zika in Destin       NaN    NaN
366  More people in Huron are infected with Dengue ...       NaN    NaN
378       Will Tuberculosis vaccine help Cherry Creek?       NaN    NaN
379  Gympie Patient in Critical Condition after Con...       NaN    NaN
429           Spike of Meningitis Cases in Druid Hills       NaN    NaN
460            Martinsville tests new cure for Measles       NaN    NaN
463  More Patients in Magnolia are Getting Diagnose...       NaN    NaN
482  Rumors about Syphilis spreading in Penal have ...       NaN    NaN
508        Fort Belvoir tests new cure for Hepatitis C       NaN    NaN
509  More people in Oak Brook are infected with Res...       NaN    NaN
516                       Outbreak of Zika in Hutchins       NaN    NaN
520       Longwood volunteers spreading Zika awareness       NaN    NaN
523                   Zika symptoms spotted in Quixere       NaN    NaN
567                                 Measles Hits Davos       NaN    NaN
582        Spike of Hepatitis E Cases in Morehead City       NaN    NaN
585                       Outbreak of Zika in Alvorada       NaN    NaN
598  Schools in Coamo Closed Due to Rhinovirus Outb...       NaN    NaN
599                           Zika arrives in Dangriga       NaN    NaN
604  More Patients in Maynard are Getting Diagnosed...       NaN    NaN
628                    Zika case reported in Antioquia       NaN    NaN
630               Chikungunya has not Left Pismo Beach       NaN    NaN
631                            Zika spreads to La Joya       NaN    NaN

In [15]:
data = data[~data.cities.isnull()][['cities', 'headline']]

In [16]:
data.head(20)

           cities                                           headline
0           Miami                           Zika Outbreak Hits Miami
1   New York City                    Could Zika Reach New York City?
2     Miami Beach                  First Case of Zika in Miami Beach
3          Recife            Mystery Virus Spreads in Recife, Brazil
4          Dallas            Dallas man comes down with case of Zika
5        Trinidad                  Trinidad confirms first Zika case
6         Houston             Zika Concerns are Spreading in Houston
7          Geneve              Geneve Scientists Battle to Find Cure
8         Atlanta              The CDC in Atlanta is Growing Worried
9       Sao Paulo                 Zika Infested Monkeys in Sao Paulo
10    Brownsville              Brownsville teen contracts Zika virus
11      St. Louis  Mosquito control efforts in St. Louis take new...
12       San Juan  San Juan reports 1st U.S. Zika-related death a...
13      Galveston                   Flu outbreak in Galveston, Texas
14         Manila                 Zika alert - Manila now threatened
15         Iloilo                     Zika afflicts 7 in Iloilo City
16    Los Angeles               New Los Angeles Hairstyle goes Viral
18        Orlando               Orlando volunteers aid Zika research
20        Chicago                Chicago's First Zika Case Confirmed
21          Tampa              Tampa Bay Area Zika Case Count Climbs